@mixin text ($f-size,$color,$f-family){
    font-size: $f-size;
    color: $color;
    font-family: $f-family;
}
@mixin toggle {
        width: 0;
        height: 0;
        border-top: 30px solid $primary-3;
        border-right:30px solid transparent;
}
@mixin toggle-red {
    width: 0;
    height: 0;
    border-top: 30px solid $base-red;
    border-right:30px solid transparent;
}