.card-bg {
    background-color: $primary-3;
    padding: 10px 0px;
}
@media (max-width:998px) {
    img {
        width: 400px;
    }
    .fab {
        font-size: 25px;
    }
}
.fab {
    font-size: 35px;
    color: $primary-2;
}
.twitter {
    color: $primary-1;
}
.footer-bg {
    background: url(../../../img/Bg3.png) $primary-1 center center no-repeat;
    padding-top: 20px;
    ul {
        list-style: none;
        @include text (14px,$primary-3,$f-reg);
        p {
            margin: 0;
        }
    }
    @media (max-width:998px) {
        ul {
            font-size: 8px;
        }
    }
    .hr {
        position: relative;
        text-align: center;
        margin: 20px 0px;
        .hr-footer {
            position: absolute;
            width: 100%;
            color: $primary-3;
        }
        .plus {
            background: $primary-3;
            position: relative;
            padding: 10px 13px;
            border-radius: 50%;
        }
    }
    .footer-menu {
        
        a {
            text-decoration: none;
            text-transform: uppercase;
            @include text (16px,$base-light,$f-med);
            transition: .4s;
        }
        a:hover {
            transition: .4s;
            color: $primary-2;
        }
        @media (max-width:998px) {
            a {
                font-size: 12px;
            }
            
        }
    }
    .footer-creators {
        text-align: center;
        @include text (16px,$primary-3,$f-reg);
    }
}